{{!-- HEADER --}}
<header class="jumbotron jumbotron-fluid">
    <div class="container" style="margin-top: 65px">
        <h1 class="display-3" id="yio">You're in Orbit!</h1>
        <p class="lead" id="oss">How do you host an event that's out of this world? You planet.</p>
        {{#if this.loggedIn}}
        <a href="/clubs" class="btn btn-primary btn-lg" id="su">Find Clubs!</a>
        {{else}}
        <a href="/signup" class="btn btn-primary btn-lg" id="su">Sign Up</a>
        {{/if}}

    </div>

    <div class="container">
        <img id="astro3" src="/../assets/img/Astro3.png" />
    </div>


    <div class="container" id="child-form-1">
        <nav class="navbar navbar-light bg-light homepage-nav child-nav">
            <form class="form-inline">
                <input class="form-control mr-sm-2" id="stretch" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </nav>
    </div>
</header>

{{!-- BODY CONTENT --}}
<div class="container page-body-container">
    <h2>Welcome {{#if this.loggedIn}}<span class="member-name"></span>{{else}}
        Astronaut!</a>
        {{/if}}</h2>

    <p>Orbit is here to help you gravitate towards clubs and organizations in your area and beyond. All groups and
        events on our page provide virtual and spaced out gatherings to make sure our users stay healthy.</p>

    <h2>Our Story</h2>

    <p>Our team created this application in the middle of a global pandemic and a recent transfer of political power.
        The world has been a mess for quite some time. So, we wanted to make something that was out of this world. We
        want our app to help you create stellar clubs, events, and experiences.</p>

    <h2>Our Team</h2>

    {{!-- TEAM CARDS --}}
    <div class="row align-items-center">
        <div class="card col-lg team-card">
            <img class="card-img-top planets" src="/../assets/img/planet2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">James</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">C#</li>
                <li class="list-group-item">Python</li>
            </ul>
            <div class="card-body">
                <a class="btn col team-btn align-self-center" href="https://nobleburgundy.github.io/portfolio/">Visit
                    Planet</a>
            </div>
        </div>

        <div class="card col-lg team-card" style="width: 18rem;">
            <img class="card-img-top planets" src="/../assets/img/Planet5.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Phillip</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
            </ul>
            <div class="card-body">
                <a class="btn col team-btn align-self-center"
                    href="https://phillipmerriman.github.io/responsive-portfolio-with-bootstrap/">Visit Planet</a>
            </div>
        </div>

        <div class="card col-lg team-card" style="width: 18rem;">
            <img class="card-img-top planets" src="/../assets/img/Planet7.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Yeem Chij</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">HTML</li>
            </ul>
            <div class="card-body">
                <a class="btn col team-btn align-self-center" href="https://ycthao.github.io/">Visit Planet</a>
            </div>
        </div>

        <div class="card col-lg team-card" style="width: 18rem;">
            <img class="card-img-top planets" src="/../assets/img/Planet8.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Randy</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">JavaScript</li>
            </ul>
            <div class="card-body">
                <a class="btn col team-btn align-self-center" href="#">Visit Planet</a>
            </div>
        </div>

        <div class="card col-lg team-card" style="width: 18rem;">
            <img class="card-img-top planets" src="/../assets/img/Planet12.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Jordon</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">JavaScript</li>
            </ul>
            <div class="card-body">
                <a class="btn col team-btn align-self-center" href="https://urkelx.github.io/Portfolio/index.html">Visit
                    Planet</a>
            </div>
        </div>


        {{!-- <a class="btn col team-btn align-self-center" href="https://nobleburgundy.github.io/portfolio/">James
            Gould</a>
        <a class="btn col team-btn align-self-center"
            href="https://phillipmerriman.github.io/responsive-portfolio-with-bootstrap/">Phillip Merriman</a>
        <a class="btn col team-btn align-self-center" href="https://ycthao.github.io/">Yeem Chij Thao</a>
        <a class="btn col team-btn align-self-center" href="#">Randy Whitley</a>
        <a class="btn col team-btn align-self-center" href="https://urkelx.github.io/Portfolio/index.html">Jordon
            Moses</a> --}}
    </div>

    <br>

    <h3>Group &amp; Event Categories:</h3>

    <div class="row align-items-center">
        <a class="btn col category-btn align-self-center" href="/clubs/category/art"><i class="fas fa-palette"></i>
            Art</a>
        <a class="btn col category-btn align-self-center" href="/clubs/category/books"><i class="fas fa-book"></i>
            Books</a>
        <a class="btn col category-btn align-self-center" href="/clubs/category/film"><i class="fas fa-film"></i> Film
            &amp;
            TV</a>
    </div>

    <div class="row align-items-center">
        <a class="btn col category-btn align-self-center" href="/clubs/category/food"><i class="fas fa-utensils"></i>
            Food</a>
        <a class="btn col category-btn align-self-center" href="/clubs/category/games"><i class="fas fa-gamepad"></i>
            Games</a>
        <a class="btn col category-btn align-self-center" href="/clubs/category/health"><i class="fas fa-spa"></i>
            Health
            &amp; Fitness</a>
    </div>

    <div class="row align-items-center">
        <a class="btn col category-btn align-self-center" href="/clubs/category/music"><i class="fas fa-guitar"></i>
            Music</a>
        <a class="btn col category-btn align-self-center" href="/clubs/category/social"><i class="fas fa-comment"></i>
            Social</a>
        <a class="btn col category-btn align-self-center" href="/clubs/category/sports"><i class="fas fa-futbol"></i>
            Sports</a>
    </div>

</div>
