<div class="container">

{{!-- HEADER --}}
<header class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">You're in Orbit!</h1>
    <p class="lead">One small step for man, one giant leap for digital interaction.</p>
    <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
  </div>


  <div class="container" id="child-form-1">
    <nav class="navbar navbar-light bg-light" id="homepage-nav">
      <form class="form-inline">
        <input class="form-control mr-sm-2" id="stretch" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </nav>
  </div>
</header>

{{!-- BODY CONTENT --}}
<div class="container" id="homepage-body-container">
  <h2>Welcome <span class="member-name"></span></h2>
  <h3>Your Clubs:</h3>

  <div class="row">
    {{#each clubs}}
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title">{{this.dataValues.club_name}}</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus
            neque.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Gravitate!</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
