* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

/* TAGS */
header {
    
}

html, body {
    height: 100%;
}

body {
    
}

footer {
    background-color: #666666 !important;
    width: 100% !important;
    position: absolute;
    bottom: 0;
}

/* CLASSES */
.jumbotron {
    background-image: url("../../assets/img/space1.jpg") !important;
    background-size: 100% !important;
    color: white;
    margin-bottom: 0px !important;
    background-position: center;
}

.btn {
    background-color: #753e93 !important;
    border-color: #753e93 !important;
    color: white;
}

.navbar {
    background-color: #0f0f4b !important;
}

.navbar-brand, .nav-link {
    color: white;
}

/* IDS */
#child-form-1 {
    position: relative;
    bottom: -90px;
}

#homepage-body-container {
    margin-top: 50px;
}

#homepage-nav {
    box-shadow: 1px 1px 1px 1px #666666;
}




/* Colors */
/* #0f0f4b
#484991
#4f2f79
#753e93
#666666
#FFFFFF */